<html>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" >
<STYLE>
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	line-height: 135%;
}
</STYLE>
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">{{  student.user.first_name }}:</p>
 
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">A new audio lecture has been added to the course {{ course.short }}.</p>
 
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">You can <a href="http://sop.ucwv.edu/fife/course/{{ course.pk }}/#audio-{{ new_audio.pk }}"><strong>download</strong></a> the audio lecture now.</p>
</body>
</html>