{% extends "base_fife.html" %}

{% block title %}{{ course.title }} - {% endblock %}

{% block header %}

{% endblock %}

{% block sidebar %}
	
	<ul id="vertNav">
		<li><a href="{{ course.get_absolute_url }}edit/">Edit This Course</a></li>
		<li><a href="/fife/course/{{ course.pk }}/add-lecture/">Add Lecture for this Course</a></li>
		<li><a href="/fife/course/{{ course.pk }}/add-announcement/">Add Announcement for this Course</a></li>
		<li><a href="/fife/course/{{ course.pk }}/add-resource/">Add Resource for this Course</a></li>
	</ul>
	
	{% include "fife/faculty_sidebar.html" %}
	
{% endblock %}

{% block content %}
	<h1>Welcome</h1>
	<p>Welcome {{ user.first_name }} {{ user.last_name }}. View my <a href="http://sop.ucwv.edu/fife/">courses</a> or <a href="/mayberry/logout/">logout</a>.

	<h2 id="my-courses">{{ course.title }}</h2>
	<ul id="recent-announcements">
		<li><strong>Course Coordinator: </strong>{% for instructor in course.course_coordinator.all %}<a href="/fife/faculty/{{ instructor.pk }}/">{{ instructor.user.first_name }} {{ instructor.user.last_name }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}</li>
		{% if course.instructor %}<li><strong>Instructors: </strong>{% for instructor in course.instructor.all %}<a href="/fife/faculty/{{ instructor.pk }}/">{{ instructor.user.first_name }} {{ instructor.user.last_name }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}</li>{% endif %}
		<li><strong>Course Syllabus: </strong>{% if course.syllabus %}<a href="{{ MEDIA_URL }}{{ course.syllabus }}">Syllabus</a>{% else %}No syallbus uploaded yet{% endif %}</li>
		<li><strong>Class Meeting Time and Location: </strong>{{ course.class_schedule }}, {{ course.class_location }}</li>
		<li><strong>Credit Hours: </strong>{{ course.credit_hours }}</li>
		<li><strong>Course Description: </strong>{{ course.course_description }}</li>
		<li><strong>Required Books: </strong>{% if books %}{% for book in books %}{% if book.link %}<a href="{{ book.link }}">{{ book.title }}</a>{% else %}{{ book.title }}{% endif %} (<a href="/fife/books/{{ book.pk }}/edit/">Edit</a> | <a href="/fife/books/{{ book.pk }}/delete/">Delete</a>){% if forloop.last %}{% else %}, {% endif %}{% endfor %}{% else %}No required books{% endif %}<br /><a href="/fife/course/{{ course.pk }}/add-book/">Add required books</a></li>
	</ul>
	{% if resources %}
	<div style="height: 25px;"></div>
	<h2 id="my-courses">Course Resources</h2>
	<a name="resources"></a><ul id="recent-announcements">
		{% for resource in resources %}
			<li><a  name="resource-{{ resource.pk }}" href="{{ MEDIA_URL }}{{ resource.document }}">{{ resource.title }}</a> from {{ resource.created_date|date:"l F j, Y" }} by {{ resource.user.first_name }} {{ resource.user.last_name }}<br /><a href="{{ resource.get_absolute_url }}edit/">Edit</a> | <a href="{{ resource.get_absolute_url }}delete/">Delete</a></li>
		{% endfor %}
	</ul>
	{% endif %}
	<div style="height: 25px;"></div>
	<h2 id="my-courses">Lectures</h2>
	<a name="lectures"></a><ul id="recent-announcements">
		{% if lectures %}
		{% for lecture in lectures %}
		{% if lecture.title %}
			<li><a name="lecture-{{ lecture.pk }}" href="{{ MEDIA_URL }}{{lecture.powerpoint }}">{{ lecture.title }}</a> from {{ lecture.lecture_date|date:"l F j, Y" }} by {% if lecture.speaker %}{{ lecture.speaker }}{% else %}{{ lecture.user.first_name }} {{ lecture.user.last_name }}{% endif %}<br /><a href="{{ lecture.get_absolute_url }}edit/">Edit</a> | <a href="{{ lecture.get_absolute_url }}delete/">Delete</a></li>
		{% else %}
			<li><a name="lecture-{{ lecture.pk }}" href="{{ MEDIA_URL }}{{lecture.powerpoint }}">Lecture</a> from {{ lecture.lecture_date|date:"l F j, Y" }} by {% if lecture.speaker %}{{ lecture.speaker }}{% else %}{{ lecture.user.first_name }} {{ lecture.user.last_name }}{% endif %}<br /><a href="{{ lecture.get_absolute_url }}edit/">Edit</a> | <a href="{{ lecture.get_absolute_url }}delete/">Delete</a></li>
		{% endif %}
		{% endfor %}
		{% else %}
			<li>Currently no lectures for {{ course.title }}</li>
		{% endif %}
	</ul>
	<div style="height: 25px;"></div>
	<h2 id="my-courses">Audio</h2>
	<a name="audio"></a><ul id="recent-announcements">
		{% if audio %}
		{% for audio in audio %}
			<li><a  name="audio-{{ audio.pk }}" href="{{ MEDIA_URL }}{{ audio.audio }}">Audio</a> from {{ audio.audio_date|date:"l F j, Y" }}{% if sam %} | <a href="/fife/audio/edit/{{ audio.pk }}/">Edit</a> | <a href="/fife/audio/delete/{{ audio.pk }}/">Delete</a>{% endif %}</li>
		{% endfor %}
		{% else %}
			<li>Currently no audio for {{ course.title }}</li>
		{% endif %}
	</ul>
	<div style="height: 25px;"></div>
	<h2 id="my-courses">Announcements</h2>
	<a name="announcements"></a><ul id="recent-announcements">
		{% if announcements %}
		{% for announcement in announcements %}
		<li><a href="{{ announcement.get_absolute_url }}">{{ announcement.title }}</a> on {{ announcement.created_date|date:"l F j, Y" }} | <a href="{{ announcement.get_absolute_url }}edit/">Edit</a> | <a href="{{ announcement.get_absolute_url }}delete/">Delete</a></li>
		{% endfor %}
		{% else %}
			<li>Currently no announcements for {{ course.title }}</li>
		{% endif %}
	</ul>
{% endblock %}