{% extends "base_fife.html" %}

{% block title %}{{ course.title }} - {% endblock %}

{% block header %}
<style type="text/css"> 
	div.section { background: #f1f1f1; border: 1px solid #ccc; border-top: none; padding: 5px 8px; margin: 0; margin-bottom: 10px;}
	div.section p { padding: 8px 0; margin: 0; border-bottom: 1px solid #ddd; font-size: 1.2em; }
	label { line-height: 135%; margin: 0; padding: 0; color: #555; }
	label.second { margin-left: 10px; }
	label.text { display: block; margin: 5px 0; }
	input.text-input { border: 1px solid #ccc;  color: #444; padding: 3px; margin: 0;}
	input.text-input:focus { border: 1px solid #9d1f41;}
	span.help-text { color: #888; font-size: 11px; margin-left: 15px;}
	span.help-text-btm { color: #888; font-size: 11px; margin: 0; padding: 5px 0;}
	div.submit-bar { padding: 8px 5px; margin: 5px 0 10px 0; background: #ccc; border: 1px solid #aaa; text-align: right; }
</style>
{% endblock %}

{% block sidebar %}
	
	{% include "fife/student_sidebar.html" %}
	
{% endblock %}

{% block content %}

<h2>Logged Out</h2>

<div class="section">
	<p>Thanks for spending some quality time with the Web site today. <a href="/fife/login/">Log in again</a></p>
</div>
{% endblock %}