<html>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" >
<STYLE>
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	line-height: 135%;
}
</STYLE>
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">Dear {{ firstname }} {{ lastname }},</p>

<p style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">We've recently launched a new backend piece of the website for lectures, audio, etc. The new application is called Fife. Below is your username and password to login and view the courses that you'll be taking in this fall.</p>

<p style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">I can answer any questions you may have, there might be a few bugs that are still to be ironed out, if you notice anything out of place, or incorrect please let me know so I can fix it.</p>

<p style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">Username: {{ username }}<br />Password: {{ password }}</p>

<p style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">To login to Fife please visit http://sop.ucwv.edu/fife/ once you login initially with the password above you can visit this <a href="http://sop.ucwv.edu/fife/password/change/">page to change your password</a>.</p>

<p style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">Thanks,</p>
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">Christopher McComas</p>
</body>
</html>