<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
"http://www.w3.org/TR/html4/loose.dtd"> 
<html>
<head>
</head>
<body>
<style type="text/css"> 
<!--
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	line-height: 135%;
}
</style>
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">{{  student.user.first_name }}:</p>
 
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">An announcement titled, {{ new_announcement.title }} has been added to the course {{ course.short }}.</p>
 
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">You can view the announcement here <a href="http://sop.ucwv.edu/fife/announcements/{{ new_announcement.pk }}/">http://sop.ucwv.edu/fife/announcements/{{ new_announcement.pk }}/</a></p>
</body>
</html>