<html>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" >
<STYLE>
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	line-height: 135%;
}
</STYLE>
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">{{  student.user.first_name }}:</p>
 
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">An announcement titled, {{ new_announcement.title }} has been added to the course {{ course.short }}.</p>
 
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">You can view the announcement here <a href="http://sop.ucwv.edu/fife/announcements/{{ new_announcement.pk }}/">linkage</a> s</p>
/
</body>
</html>