{% extends "base_fife.html" %}

{% block title %}Edit {{ course.title }} - {% endblock %}

{% block header %}
<style type="text/css"> 
	div.section { background: #f1f1f1; border: 1px solid #ccc; border-top: none; padding: 5px 8px; margin: 0; margin-bottom: 10px;}
	div.section p { padding: 8px 0; margin: 0; border-bottom: 1px solid #ddd; font-size: 1.2em; }
	label { line-height: 135%; margin: 0; padding: 0; color: #555; }
	label.second { margin-left: 10px; }
	label.text { display: block; margin: 5px 0; }
	input.text-input { border: 1px solid #ccc;  color: #444; padding: 3px; margin: 0;}
	input.text-input:focus { border: 1px solid #9d1f41;}
	span.help-text { color: #888; font-size: 11px; margin-left: 15px;}
	span.help-text-btm { color: #888; font-size: 11px; margin: 0; padding: 5px 0;}
	div.submit-bar { padding: 8px 5px; margin: 5px 0 10px 0; background: #ccc; border: 1px solid #aaa; text-align: right; }
</style>
{% endblock %}

{% block sidebar %}
	
	{% include "fife/faculty_sidebar.html" %}
	
{% endblock %}

{% block content %}
	<h1>Welcome</h1>
	<p>Welcome {{ user.first_name }} {{ user.last_name }}. View my <a href="http://sop.ucwv.edu/fife/">courses</a> or <a href="/mayberry/logout/">logout</a>.

	<h2 id="my-courses">{{ course.title }}</h2>
	<form method="post" enctype="multipart/form-data" action="."> 
		<div class="section">
			{{ form.as_p }}
			
			<div class="submit-bar"> 
		<input type="submit" value="Save Course Info" /> 
	</div> 
		</div>
		
		
		
{% endblock %}