{% extends "base_fife.html" %}

{% block title %}Edit {{ course.title }} - {% endblock %}

{% block header %}
<style type="text/css"> 
	div.section { background: #f1f1f1; border: 1px solid #ccc; border-top: none; padding: 5px 8px; margin: 0; margin-bottom: 10px;}
	div.section p { padding: 8px 0; margin: 0; border-bottom: 1px solid #ddd; font-size: 1.2em; }
	label { line-height: 135%; margin: 0; padding: 0; color: #555; }
	label.second { margin-left: 10px; }
	label.text { display: block; margin: 5px 0; }
	input.text-input { border: 1px solid #ccc;  color: #444; padding: 3px; margin: 0;}
	input.text-input:focus { border: 1px solid #9d1f41;}
	span.help-text { color: #888; font-size: 11px; margin-left: 15px;}
	span.help-text-btm { color: #888; font-size: 11px; margin: 0; padding: 5px 0;}
	div.submit-bar { padding: 8px 5px; margin: 5px 0 10px 0; background: #ccc; border: 1px solid #aaa; text-align: right; }
</style>

<script type="text/javascript" src="http://sop.ucwv.edu/static/js/datepicker.js"></script> 
    <link href="http://sop.ucwv.edu/static/css/datepicker.css" rel="stylesheet" type="text/css" /> 
    
<script type="text/javascript"> 
// <![CDATA[     

// A quick test of the setGlobalVars method 
datePickerController.setGlobalVars({"split":["-dd","-mm"]});

/* 

The following function dynamically calculates Easter Monday's date.
It is used as the "redraw" callback function for the second last calendar on the page
and returns an empty object.

It dynamically calculates Easter Monday for the year in question and uses
the "adddisabledDates" method of the datePickercontroller Object to
disable the date in question.

NOTE: This function is not needed, it is only present to show you how you
might use this callback function to disable dates dynamically!

*/
function disableEasterMonday(argObj) { 
    // Dynamically calculate Easter Monday - I've forgotten where this code 
    // was originally found and I don't even know if it returns a valid
    // result so don't use it in a prod environment...
    var y = argObj.yyyy,
        a=y%4,
        b=y%7,
        c=y%19,
        d=(19*c+15)%30,
        e=(2*a+4*b-d+34)%7,
        m=Math.floor((d+e+114)/31),
        g=(d+e+114)%31+1,            
        yyyymmdd = y + "0" + m + String(g < 10 ? "0" + g : g);         
    
    datePickerController.addDisabledDates(argObj.id, yyyymmdd); 
    
    // The redraw callback expects an Object as a return value
    // so we just give it an empty Object... 
    return {};
};

/* 

The following functions updates a span with an "English-ised" version of the
currently selected date for the last datePicker on the page. 

NOTE: These functions are not needed, they are only present to show you how you
might use callback functions to use the selected date in other ways!

*/
function createSpanElement(argObj) {
    // Make sure the span doesn't exist already
    if(document.getElementById("EnglishDate")) return;

    // create the span node dynamically...
    var spn = document.createElement('span');
        p   = document.getElementById(argObj.id).parentNode;
        
    spn.id = "EnglishDate";
    p.parentNode.appendChild(spn);
    
    // Remove the bottom margin on the input's wrapper paragraph
    p.style.marginBottom = "0";
    
    // Add a whitespace character to the span
    spn.appendChild(document.createTextNode(String.fromCharCode(160)));
};

function showEnglishDate(argObj) {
    // Grab the span & get a more English-ised version of the selected date
    var spn = document.getElementById("EnglishDate"),
        formattedDate = datePickerController.printFormattedDate(argObj.date, "l-cc-sp-d-S-sp-F-sp-Y", false);
    
    // Make sure the span exists before attempting to use it!
    if(!spn) {
            createSpanElement(argObj); 
            spn = document.getElementById("EnglishDate");
    };
    
    // Note: The 3rd argument to printFormattedDate is a Boolean value that 
    // instructs the script to use the imported locale (true) or not (false)
    // when creating the dates. In this case, I'm not using the imported locale
    // as I've used the "S" format mask, which returns the English ordinal
    // suffix for a date e.g. "st", "nd", "rd" or "th" and using an
    // imported locale would look strange if an English suffix was included
    
    // Remove the current contents of the span
    while(spn.firstChild) spn.removeChild(spn.firstChild);
    
    // Add a new text node containing our formatted date
    spn.appendChild(document.createTextNode(formattedDate));
};

// ]]>
</script>
{% endblock %}

{% block sidebar %}
	
	<ul id="vertNav">
		<li><a href="{{ course.get_absolute_url }}">Back to Course Page</a></li>
	</ul>
	
	{% include "fife/faculty_sidebar.html" %}
	
{% endblock %}

{% block content %}
	<h1>Welcome</h1>
	<p>Welcome {{ user.first_name }} {{ user.last_name }}. View my <a href="http://sop.ucwv.edu/fife/">courses</a> or <a href="/mayberry/logout/">logout</a>.

	<h2 id="my-courses">Add a Lecture for {{ course.title }}</h2>
	<form method="post" enctype="multipart/form-data" action="."> 
		<div class="section">
			{% if form.title.errors %}
				<p class="errors">This field is required, please enter a title and then save the lecture.</p>
			{% endif %}
			<p><label for="id_title">Title of Lecture:</label> {{ form.title }}</p>
			{% if form.lecture_date.errors %}
				<p class="errors">This field is required, please enter a date in the correct format (YYYY-MM-DD) and then save the lecture.</p>
			{% endif %}
			<p><label for="id_lecture_date">Date of Lecture:</label> {{ form.lecture_date }}</p>
			{% if form.powerpoint.errors %}
				<p class="errors">There is an error with this file, please double check it and then save the lecture.</p>
			{% endif %}
			<p><label for="id_powerpoint">Lecture File:</label> {{ form.powerpoint }}
				<br />Current File: <a href="http://sop.ucwv.edu/static/{{ lecture.powerpoint }}">{{ lecture.powerpoint }}</a></p>
			
			<div class="submit-bar"> 
		<input type="submit" value="Save Lecture" /> 
	</div> 
		</div>
		
		
		
{% endblock %}