{% extends "base_fife.html" %}

{% block title %}{{ faculty.user.first_name }} {{ faculty.user.last_name }} - {% endblock %}

{% block header %}

{% endblock %}

{% block sidebar %}
	
	{% ifequal sidebar 1 %}
		{% include "fife/faculty_sidebar.html" %}
	{% else %}
		{% include "fife/student_sidebar.html" %}
	{% endifequal %}
	
{% endblock %}

{% block content %}
	<h1>Welcome</h1>
	<p>Welcome {{ user.first_name }} {{ user.last_name }}. View my <a href="http://sop.ucwv.edu/fife/">courses</a> or <a href="/mayberry/logout/">logout</a>.

	<h2 id="my-courses">{{ faculty.user.first_name }} {{ faculty.user.last_name }}</h2>
	<ul id="recent-announcements">
		<li><strong>Office: </strong> {{ faculty.office_location }} {{ faculty.office_hours }}</li>
		<li><strong>Office Hours: </strong> {{ faculty.office_hours }}</li>
		<li><strong>Email Address: </strong><a href="mailto:{{ faculty.user.email }}">{{ faculty.user.email }}</a></li>
	</ul>
{% endblock %}